

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
/* custom properties */
/*------------------------------------*\
    #USEFUL CLASSES
\*------------------------------------*/
.wrapper {
    max-width: 700px;
    max-width: 70rem;
    margin: 0 auto;
}
/*------------------------------------*\
    #FONTS
\*------------------------------------*/
html {
    font-size: 62.5%; /* 10px */
    font-size: 0.625em; /* fix */
}
/*------------------------------------*\
    #BODY
\*------------------------------------*/
/**
 * Body base styles
 */
body {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.5;
    margin: 0;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }
/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1,
h2,
h3 {
  font-family: 'Poppins';
  font-weight: 700;
}
/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
    color: #279e6a;
    -webkit-transition: color .3s;
    transition: color .3s
}
a:hover {
    color: #00bf6b;
}
/*------------------------------------*\
    #LISTS
\*------------------------------------*/
ul {
  padding: 0;
  list-style: none;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
