.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem;
  background: var(--primary-bg-color);
}

.feature li {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.feature li::before {
  font-size: 1.1rem;
  margin-right: 1rem;
  color: var(--primary-color);
}

.feature ul li::before {
  content: var(--circle);
}

.feature ol {
  counter-reset: counter;
}

.feature ol li::before {
  counter-increment: counter;
  content: counter(counter);
  font-size: 1.7rem;
}

.feature .button {
  margin: 2rem 5rem 0;
}
