/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    color: #279e6a;
    -webkit-transition: color .3s;
    transition: color .3s
}

a:hover {
    color: #00bf6b;
}

/*------------------------------------*\
#NAV ACCOUNT
\*------------------------------------*/

.nav-account {
    position: absolute;
    top: 96px;
    top: 6rem;
    right: 0;
    margin: 0;
    padding: 16px 32px;
    padding: 1rem 2rem;
    height: 0;
    opacity: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 6px rgba(50, 50, 50, .2);
            box-shadow: 0 0 6px rgba(50, 50, 50, .2);
    border-radius: 3px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.nav-account::before {
    content: '';
    position: absolute;
    top: -16px;
    top: -1rem;
    right: 32px;
    right: 2rem;
    display: block;
    width: 32px;
    width: 2rem;
    height: 32px;
    height: 2rem;
    background-color: #fff;
    -webkit-box-shadow: -1px -1px 1px -1px rgba(50, 50, 50, .2);
            box-shadow: -1px -1px 1px -1px rgba(50, 50, 50, .2);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.nav-account.active {
    height: auto;
    opacity: 1;
    z-index: 1;
}

.nav-account li {
    display: none;
    list-style-type: none;
}

.nav-account li a {
    display: block;
    padding: 16px 0;
    padding: 1rem 0;
}

.nav-account.active li {
    display: block;
}

/*------------------------------------*\
#HEADER
\*------------------------------------*/

.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(50, 50, 50, .2);
            box-shadow: 0 2px 2px rgba(50, 50, 50, .2);

    z-index: 9
}

.main-header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 48px;
    font-size: 3rem
}

.main-header h1 a {
    padding: 16px;
    padding: 1rem;
    color: #333;
    text-decoration: inherit;
}

.main-header nav {
    position: relative;
    margin: 0 32px 0 0;
    margin: 0 2rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

.main-header nav a {
    padding: 3px 15px;
    font-size: 24px;
    font-size: 1.5rem;
    text-decoration: none;
}

.main-header nav .button {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px
}

.main-header nav .button:hover {
    color: #000;
    background-color: #eee;
}

.avatar {
    cursor: pointer
}

.avatar img {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #666;
    border-radius: 50%;
}
