/*------------------------------------*\
#NAV ACCOUNT
\*------------------------------------*/
.nav-account {
    position: absolute;
    top: 96px;
    top: 6rem;
    right: -16px;
    right: -1rem;
    margin: 0;
    padding: 16px 32px;
    padding: 1rem 2rem;
    height: 0;
    opacity: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 6px rgba(50, 50, 50, .2);
            box-shadow: 0 0 6px rgba(50, 50, 50, .2);
    border-radius: 3px;
    -webkit-transition: all .3s;
    transition: all .3s
    
}
.nav-account::before {
    content: '';
    position: absolute;
    top: -16px;
    top: -1rem;
    right: 32px;
    right: 2rem;
    display: block;
    width: 32px;
    width: 2rem;
    height: 32px;
    height: 2rem;
    background-color: #fff;
    -webkit-box-shadow: -1px -1px 1px -1px rgba(50, 50, 50, .2);
            box-shadow: -1px -1px 1px -1px rgba(50, 50, 50, .2);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all .3s;
    transition: all .3s;
    
}
.nav-account.active {
    height: auto;
    opacity: 1;
    z-index: 1;
    
}
