footer {
  padding: 3rem 0;
  box-shadow: 0 -2px 0 var(--gray-opacity);
  background-color: var(--white);
  z-index: 1;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
