footer {
  padding: 1rem 9rem;
  box-shadow: 0 -.2rem 0 var(--color-shadow);
  background-color: var(--color-white);
  z-index: 1;

  & nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    & a {
      display: flex;
      flex-direction: row;
      margin-right: 2.5rem;
      align-items: flex-start;
    }
  }

  & .icon::before {
    font-size: 2rem;
    margin-right: 1rem;
  }
}
