header {
  background-color: var(--color-white);
  box-shadow: 0 .2rem 0 var(--color-shadow);
  padding: 1rem;

  &.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1rem 9rem;
    top: 0;
    left: 0;
    width: 100%;
    /* overide leaflet and notification */
    z-index: 1001;

    h1 {
      margin: 0;
      font-weight: 300;
      font-size: 3rem;

      a {
        padding: 1rem;
        color: var(--color-gray);
        text-decoration: inherit;
      }
    }

    > nav {
      position: relative;
      margin: 0 2rem 0 0;
      display: flex;
      align-items: center;

      a {
        padding: 3px 15px;
        font-size: 1.5rem;
        text-decoration: none;
      }

      .button {
        background-color: var(--color-background-primary);
        border: .1rem solid var(--color-gray);
        border-radius: .5rem;

        &:hover {
          color: var(--color-black);
          background-color: var(--color-gray);
        }
      }
    }

    .avatar {
      cursor: pointer;
    }

    .nav-account a {
      display: block;
      padding: 1rem;
    }
  }

  &.profile {
    padding: 5rem 25rem;

    .profile-socials {
      margin: 3rem 0;
    }
  }
}
