.hero {
  background: linear-gradient(0deg, var(--color-shadow), var(--color-shadow)), url('assets/img/hero.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
  padding: 10rem 10rem;
  position: relative;

  h2,
  h3 {
    color: var(--color-white);
    text-shadow: 0 0 .3rem #555;
  }

  h2 {
    font-size: 8rem;
    margin: 0;
  }

  h3 {
    font-size: 3.2rem;
    margin: 0 0 2rem;
  }

  .scroll-invitation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
