.presentation {
  background: var(--color-background-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &.with-image {
    flex-direction: row;
    background-color: var(--color-white);

    .button-group {
      justify-content: flex-start;
    }
  }

  &.with-icon {
    article {
      width: 100%;
    }

    ul {
      display: flex;
      justify-content: space-around;

      & li::before {
        margin: 0;
      }
    }
  }

  article {
    padding: 0 2rem 2rem;
    width: 65rem;

    ul,
    ol {
      padding: 0;
      margin-bottom: 3rem;
    }

    .button-group {
      display: flex;
      justify-content: center;

      .button {
        margin-right: 2rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  aside {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 32rem;
    width: 37.5rem;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  /* overide preview(s) style for home presentation */
  .preview-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-evenly;

    .preview {
      margin: 1rem;
      width: 40rem;
    }
  }
}
