.preview {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  min-width: 40rem;
  background-color: var(--color-white);
  box-shadow: 0 0 .3rem var(--color-shadow);
  padding: 1.7rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: .3rem;

  header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.6rem;
    margin: 0;
  }

  h2 {
    word-wrap: break-word;
  }

  figure {
    position: relative;
    padding: 1.5rem 0;
  }

  button {
    align-self: center;
    margin: 3rem 0 0;
    max-width: initial;
  }

  .meta-data {
    display: flex;
    flex-wrap: wrap;

    a {
      flex: 1 1 100%;
    }
  }

  .content {
    margin: 0;
  }

  a {
    color: var(--color-black);

    &.button {
      color: var(--color-white);
    }

    .read-more::before {
      font-size: 3.25rem;
      margin-right: 0;
      position: absolute;
      bottom: 1.25rem;
      right: 1rem;
      color: var(--color-primary);
      transition: all .3s ease;
    }

    &:hover .read-more::before {
      bottom: .9rem;
      color: var(--color-secondary);
      font-size: 4rem;
    }
  }

  .bar {
    display: block;
    border-radius: 1rem;
    height: 1.2rem;
    width: 90%;
    background-color: var(--color-gray);
    opacity: .1;
    line-height: 70%;
    margin-bottom: 1rem;

    &:first-of-type {
      opacity: .2;
      width: 50%;
    }
  }

  &.draft {
    position: relative;

    .ribbon-wrapper {
      display: block;
    }
  }

  .ribbon-wrapper {
    display: none;
    width: 8.5rem;
    height: 8.8rem;
    overflow: hidden;
    position: absolute;
    top: -.8rem;
    right: -.5rem;
  }

  .ribbon {
    display: block;
    font-weight: 200;
    font-family: sans-serif;
    text-transform: capitalize;
    color: var(--color-white);
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    padding: .7rem 0;
    left: -.5rem;
    top: 1.5rem;
    width: 12rem;
    background: var(--color-primary);
    box-shadow: 0 0 .3rem var(--color-shadow);

    &::before,
    &::after {
      content: "";
      border-top: .3rem solid var(--color-secondary);
      border-left: .3rem solid transparent;
      border-right: .3rem solid transparent;
      position: absolute;
      bottom: -.3rem;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &:hover {
      color: var(--color-white);
      background: var(--color-secondary);
    }
  }
}

.preview-list {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: space-evenly;

  & .preview {
    margin: 1rem;
    width: 40rem;
  }
}
