.preview {
  background-color: var(--white);
  box-shadow: 0 0 .3rem #eee;
  padding: 1.7rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: .3rem;
  border: .1rem solid #e9e9e9;
}

.preview header {
  margin-bottom: 2rem;
}

.content-preview {
  margin: 0;
}

.content-preview a {
  color: var(--black);
}

.content-preview h1 {
  font-size: 2.6rem;
  margin: 0;
}

.content-preview figure {
  position: relative;
  padding: 1.5rem 0;
}

.content-preview a.button {
  color: var(--white);
}

.content-preview a .read-more::before {
  font-size: 3.25rem;
  margin-right: 0;
  position: absolute;
  bottom: 1.25rem;
  right: 1rem;
  color: var(--primary-color);
  transition: all .3s ease;
}

.content-preview a:hover .read-more::before {
  bottom: .9rem;
  color: var(--secondary-color);
  font-size: 4rem;
}
