button,
a.button {
    width: auto;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border: 0.125rem solid var(--interactive-color);
    color: var(--interactive-color);
    background-color: #fff;
    border-radius: 0.5rem;
    transition: background-color .3s ease;
}
button {
  font: inherit;
  cursor: pointer;
}
a.button {
  text-decoration: none;
  display: inline-block;
}
button:hover,
a.button:hover {
    color: #fff;
    background-color: var(--interactive-color);
    border-color: var(--interactive-color);
}
