

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
/* custom properties */
:root {

  /* Colors */
}
/*------------------------------------*\
#USEFUL CLASSES
\*------------------------------------*/
.wrapper {
  width: 700px;
  width: 70rem;
  margin: 0 auto;
}
/*------------------------------------*\
#FONTS
\*------------------------------------*/
/*------------------------------------*\
#BODY
\*------------------------------------*/
/**
* Body base styles
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 10px */
  font-size: 0.625em; /* fix */
}
body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.5;
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
/* Atoms used on every pages */
/*------------------------------------*\
#HEADINGS
\*------------------------------------*/
h1,
h2,
h3 {
  font-family: 'Poppins';
  font-weight: 700;
}
/*------------------------------------*\
#LINKS
\*------------------------------------*/
a {
  color: #279e6a;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s
}
a:hover {
  color: #00bf6b;
}
/*------------------------------------*\
#LISTS
\*------------------------------------*/
ul {
  padding: 0;
  list-style: none;
}
/* Atoms used on every pages */
/* Components used on every pages */
/*------------------------------------*\
#NAV ACCOUNT
\*------------------------------------*/
.nav-account {
  position: absolute;
  top: 60px;
  top: 6rem;
  right: -10px;
  right: -1rem;
  margin: 0;
  padding: 10px 20px;
  padding: 1rem 2rem;
  height: 0;
  opacity: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px rgba(50, 50, 50, .2);
          box-shadow: 0 0 6px rgba(50, 50, 50, .2);
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s

}
.nav-account::before {
  content: '';
  position: absolute;
  top: -10px;
  top: -1rem;
  right: 20px;
  right: 2rem;
  display: block;
  width: 20px;
  width: 2rem;
  height: 20px;
  height: 2rem;
  background-color: #fff;
  -webkit-box-shadow: -1px -1px 1px -1px rgba(50, 50, 50, .2);
          box-shadow: -1px -1px 1px -1px rgba(50, 50, 50, .2);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.nav-account.active {
  height: auto;
  opacity: 1;
  z-index: 1;
}
/*------------------------------------*\
#HEADER
\*------------------------------------*/
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(50, 50, 50, .2);
          box-shadow: 0 2px 2px rgba(50, 50, 50, .2);
  z-index: 9
}
.main-header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  font-size: 3rem;
}
.main-header h1 a {
  padding: 10px;
  padding: 1rem;
  color: #333;
  text-decoration: inherit;
}
.main-header > nav {
  position: relative;
  margin: 0 20px 0 0;
  margin: 0 2rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center

}
.main-header > nav a {
  padding: 3px 15px;
  font-size: 15px;
  font-size: 1.5rem;
  text-decoration: none;
}
.main-header > nav .button {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-header > nav .button:hover {
  color: #000;
  background-color: #eee;
}
.main-header > nav > nav > a {
  display: block;
}
.avatar {
  cursor: pointer
}
.avatar img {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #666;
  border-radius: 50%;
}
/*------------------------------------*\
#FOOTER
\*------------------------------------*/
footer {
  padding: 30px 0;
  padding: 3rem 0;
  border-top: 3px solid #eee;
  background-color: #fff;
  z-index: 1
}
footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/**/
