/*------------------------------------*\
    #STYLEGUIDE
\*------------------------------------*/

.st-section {
    margin-bottom: 3rem;
}

.st-article {
    padding-bottom: 3rem;
    border-bottom: 5px solid #000;
}

.st-container {
    padding: 10px;
    background-color: #ccc;
}

.st-container > header {
    position: relative;
}

.st-title {
    text-decoration: underline;
}

h1.st-title {
    text-align: center;
    font-size: 4rem;
}

h2.st-title {
    font-size: 3rem;
    margin-left: 2rem;
}

/* Fonts */
.st-font-opensans {
    font-family: "open sans", Arial, sans-serif;
}

.st-font-poppins {
    font-family: 'Poppins', Arial, sans-serif;
}

.st-font-merryweather {
    font-family: 'Merryweather', Arial, sans-serif;
}
