button,
input[type=submit],
input[type=reset] {
  font: inherit;
  cursor: pointer;
}
a.button {
  text-decoration: none;
  display: inline-block;
}
button,
a.button,
input[type=submit],
input[type=reset] {
    width: auto;
    text-align: center;
    padding: .7rem 2rem;
    color: #555;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    transition: background-color .2s;
    margin: .2rem 0;
    font-size: .9rem;
    font-weight: bold;
}
button:hover,
a.button:hover,
input[type=submit].default:hover,
input[type=reset]:hover {
    color: #333;
    background-color: #ddd;
    border-color: #bbb;
}

button.primary,
a.button.primary,
input[type=submit]:not(.default) {
  color: #fff;
  background-color: var(--interactive-color);
  border-color: var(--interactive-color-highlight);
}

input[type=submit]:not(.default):hover,
button.primary:hover {
  color: #fff;
  background-color: var(--interactive-color-highlight);
}

input[type=reset] {
  padding-left: 1rem;
  padding-right: 1rem;
}
