:root {
  --primary-color: #3dd07d;
  --secondary-color: #4e8;
  --interactive-color: var(--primary-color);
  --interacted-color: var(--secondary-color);
  --primary-bg-color: #fefefe;
  --secondary-bg-color: #fafafa;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  font-size: calc(1em * .625);
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  color: #000;
  background-color: var(--white);
}

body {
  position: relative;
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.5;
}

a {
  color: var(--interactive-color);
  text-decoration: none;
}

p a {
  text-decoration: underline;
}
