/* custom properties */
:root {

  /* Colors */
}
/*------------------------------------*\
#BUTTONS
\*------------------------------------*/
button,
input[type=submit]  {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}
.button,
button,
input[type=submit] {
  display: inline-block;
  padding: 12.8px 40px;
  padding: 0.8rem 2.5rem;
  color: #279e6a;
  text-align: center;
  background-color: #fff;
  border: 2px solid #279e6a;
  border: 0.125rem solid #279e6a;
  border-radius: 0.5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease

}
.button:hover, button:hover, input[type=submit]:hover {
  color: #fff;
  background-color: #2cbe4e;
  border: 2px solid #2cbe4e;
  border: 0.125rem solid #2cbe4e;
}
