@charset "UTF-8";

/* VARS */
:root {

  /* Colors */
  --greenLink: #279e6a;
  --greenLinkHover: #2cbe4e;

  --blackFont: #000;

  --greyBg: #fafafa;
}

/*------------------------------------*\
#BODY
\*------------------------------------*/

/**
* Body base styles
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
  font-size: calc(1em * 0.625); /* fix */
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.7rem;
  line-height: 1.5;
  margin: 0;
  color: var(--blackFont);
  font-weight: 400;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/*------------------------------------*\
#FONTS
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/*------------------------------------*\
#USEFUL CLASSES
\*------------------------------------*/

.wrapper {
  width: 70rem;
  margin: 0 auto;
}
