@import "main.css";

/* Structure */

.st-main {
  background-color: var(--color-background-primary);
  border-bottom: .5rem solid var(--color-primary);
  width: 100%;
  padding: 7.5rem 10% 5rem;
  margin: 0;
}

.st-section {
  margin-bottom: 3rem;
}

.st-article {
  padding: 1rem 0;
}

.st-container {
  background-color: var(--color-background-secondary);
  border-radius: 1rem;
  align-items: flex-start;
  padding: 3rem;
  margin-bottom: 2rem;

  & li {
    margin-bottom: 0;
  }

  & > header {
    position: relative;
  }

  &.presentation {
    & ul,
    & ol {
      padding: 0;
    }
  }
}

.st-full {
  padding: 0;
}

.st-social {
  li {
    margin-bottom: 1.5rem;
  }
}


.st-colors,
.st-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.st-checkbox,
.st-radio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

  & label {
    margin: 0 5rem 0 0;
  }

  & input {
    margin: 0;
  }
}

/* Title */

.st-title {
  text-decoration: underline;
  font-size: 3rem;
  margin: 2rem 0;

  &.st-sub {
    font-size: 2rem;
    margin-bottom: 1.5rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.st-main {
  > .st-title {
    font-size: 4rem;
    text-align: center;
  }
}

/* Colors */

.st-colors {
  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
    border: .1rem solid var(--color-shadow);
    text-align: center;
    border-radius: .8rem;
    margin: 0 1% 1rem 0;
  }

  & span:first-of-type {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: .8rem .8rem 0 0;
  }
}

/* Fonts */

.st-font-title {
  font-family: var(--font-title);
}

.st-font-content {
  font-family: var(--font-content);
}

.st-font-blog {
  font-family: var(--font-blog);
}

/* Icons */

.st-icons {
  position: relative;

  & > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  & .icon {
    width: auto;
    position: relative;
    animation: none;
    margin: 0;
    padding: 0;

    &::before {
      color: var(--color-primary);
      position: relative;
      font-size: 2.5rem;
      top: 0;
      left: 0;
      margin: 0 2rem;
      width: auto;
    }
  }
}
