@import "main";

/* Structure */

.st-main {
  width: 100rem;
}

.st-section {
  margin-bottom: 3rem;
}

.st-article {
  padding-bottom: 3rem;
  border-bottom: .5rem solid var(--black);
}

.st-container {
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  align-items: flex-start;
}

.st-container li {
  margin-bottom: 0;
}

.st-container > header {
  position: relative;
}

.st-colors,
.st-buttons,
.st-checkbox,
.st-radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.st-full {
  width: 100%;
}

/* Title */

.st-title {
  text-decoration: underline;
}

h1.st-title {
  text-align: center;
  font-size: 4rem;
}

h2.st-title {
  font-size: 3rem;
  margin-left: 2rem;
}

/* Colors */

.st-colors li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
  border: .1rem solid var(--shadow-color);
  text-align: center;
  border-radius: .8rem;
  margin: 0 1% 1rem 0;
}

.st-colors span:first-of-type {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: .8rem .8rem 0 0;
}

/* Fonts */

.st-font-title {
  font-family: var(--title-font);
}

.st-font-content {
  font-family: var(--content-font);
}

.st-font-blog {
  font-family: var(--blog-font);
}

/* Icons */

.st-icons {
  position: relative;
}

.st-icons > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.st-icons .icon {
  width: auto;
  position: relative;
  animation: none;
  margin: 0;
  padding: 0;

  &::before {
    color: var(--primary-color);
    position: relative;
    font-size: 2.5rem;
    top: 0;
    left: 0;
    margin: 0 2rem;
    width: auto;
  }
}

/* Component */

.st-component .st-section {
  border-bottom: .5rem solid var(--shadow-color);
  background-color: var(--secondary-bg-color);
  padding: 1rem 0 3rem;
  margin: 0;
}

.st-component .st-section > .st-title {
  background-color: var(--secondary-bg-color);
  padding: 1rem 0;
  margin: 0;
}

.st-component .st-container {
  padding: 1rem 0;
}
