:root {
  --primary-color: #3dd07d;
  --secondary-color: #4e8;
    
  --primary-bg-color: #fefefe;
  --secondary-bg-color: #fafafa;
  
  --black: #000;
  --gray: #333;
  --white: #fff;
  
  --gray-opacity: rgba(50, 50, 50, 0.15);
  
  --head-font: 'Poppins', Arial, sans-serif;
  --content-font: 'Open sans', Arial, sans-serif;
  --blog-font: 'Merryweather', Arial, sans-serif;
}
