@keyframes updown {
  0%   { bottom: 1rem; }
  30%  { bottom: 1rem; }
  32%  { bottom: 2.5rem; }
  34%  { bottom: 1rem; }
  36%  { bottom: 2.5rem; }
  38%  { bottom: 1rem; }
  40%  { bottom: 2.5rem; }
  42%  { bottom: 1rem; }
  100% { bottom: 1rem; }
}
