@keyframes updown {
  0% { bottom: 1rem; }
  30% { bottom: 1rem; }
  32% { bottom: 2.5rem; }
  34% { bottom: 1rem; }
  36% { bottom: 2.5rem; }
  38% { bottom: 1rem; }
  40% { bottom: 2.5rem; }
  42% { bottom: 1rem; }
  100% { bottom: 1rem; }
}

@keyframes mouse-wheel {
  0% { top: 0; }
  25% { top: .2rem; }
  50% { top: .4rem; }
  75% { top: .2rem; }
  100% { top: 0; }
}

@keyframes mouse-scroll {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
