:root {
  --color-black: #333;
  --color-gray: #555;
  --color-silver: #aaa;
  --color-white: #fff;

  --color-primary: #1caf6f;
  --color-secondary: #169e62;

  --color-background-primary: #fefefe;
  --color-background-secondary: #fafafa;

  --color-time: #aaa;

  --color-shadow: rgba(50, 50, 50, .15);

  --font-title: 'Poppins', Arial, sans-serif;
  --font-content: 'Maven Pro', Arial, sans-serif;
  --font-blog: 'Merryweather', Arial, sans-serif;
  --font-icon: 'fontawesome', 'fontawesome solid';

  --icon-circle: '\25CF';
  --icon-book: '\f518';
  --icon-signin: '\f234';
  --icon-login: '\f2f6';
  --icon-github: '\f09b';
  --icon-email: '\f0e0';
  --icon-calendar: '\f073';
  --icon-clock: '\f017';
  --icon-get-article: '\f2f6';
  --icon-arrow-down: '\f358';
  --icon-twitter: '\f099';
  --icon-instagram: '\f16d';
  --icon-facebook: '\f09a';
  --icon-setting: '\f013';
  --icon-trip: '\f277';
}
