@charset "UTF-8";

button,
input[type=submit]  {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.button,
button,
input[type=submit] {
  display: inline-block;
  padding: .8rem 2.5rem;
  margin: 1rem 0;
  color: var(--primary-color);
  text-align: center;
  background-color: var(--white);
  border: .125rem solid var(--primary-color);
  border-radius: .5rem;
  transition: all .3s ease;
}

.button:hover,
button:hover,
input[type=submit]:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.reverse {
  color: var(--white);
  background-color: var(--primary-color);
  border: .125rem solid var(--primary-color);
}

.reverse:hover {
  color: var(--primary-color);
  background-color: var(--white);
  border: .125rem solid var(--primary-color);
}
