/*------------------------------------*\
#LINKS
\*------------------------------------*/

a {
  color: #279e6a;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: #00bf6b;
  }
}
