/*------------------------------------*\
#LINKS
\*------------------------------------*/

a {
  color: var(--greenLink);
  text-decoration: none;
  transition: color .3s;

  &:hover {
    /*color: #00bf6b;*/
    color: var(--greenLinkHover);
  }
}
