@charset "UTF-8";

.button,
button,
input[type=submit] {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  display: inline-block;
  padding: .7rem 2.5rem;
  margin: 1rem 0;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: .3rem;
  transition: color,background-color .3s ease;
  box-shadow: 0 2px 3px var(--color-shadow);
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  &.read {
    display: block;
    padding: .5rem 2.5rem;
    max-width: 50%;
    margin: 2rem auto 0;
  }
}
