input,
textarea,
select,
.select {
  font-family: inherit;
  font-size: 1.7rem;
  color: var(--color-gray);
  background: var(--color-white);
  border: none;
  box-shadow: 0 0 .2rem .1rem var(--color-shadow);
  border-radius: .5rem;
  width: 100%;
  padding: 1.5rem;
  height: 5rem;
  margin: 0 0 2rem;
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }

  &:focus,
  &:active {
    color: var(--color-gray);
    box-shadow: 0 0 .2rem .1rem var(--color-primary);
  }
}

input,
textarea {
  &:hover,
  &:focus,
  &:active {
    cursor: text;
  }
}

/* LABEL */

label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-gray);
  margin-bottom: 1.25rem;
}

/* TEXTAREA */

textarea {
  min-height: 9.5rem;
}

/* CHECKBOX */

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  background: var(--color-shadow);
  border: none;
  color: var(--color-white);
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  height: 3rem;
  width: 3rem;
  padding: 0;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0 0 0 .3rem var(--color-primary);
  }

  &:checked {
    background: var(--color-primary);

    &::before {
      display: inline-block;
      content: '✔';
      font-size: 2.5rem;
      text-align: center;
      line-height: 3rem;
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: -.1rem;
    }
  }
}

input[type=radio] {
  border-radius: 50%;
}

/* SELECT */

select {
  box-shadow: none;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  padding: 0 0 0 1rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &::-ms-expand {
    display: none;
  }
}

option {
  font-size: 1.5rem;
}

/* Custom Select */
.select {
  display: block;
  line-height: 3;
  padding: 0;
  position: relative;

  &::after {
    background: var(--color-white);
    content: '\25BC';
    color: var(--color-shadow);
    height: 0;
    position: absolute;
    right: 1rem;
    transition: .25s all ease;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;

    &::after {
      color: var(--color-primary);
    }
  }
}

/* RANGE */

input[type=range] {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: var(--color-primary);
    cursor: pointer;
  }

  &:focus::-ms-fill-lower {
    background: var(--color-shadow);
  }

  &:focus::-ms-fill-upper {
    background: var(--color-shadow);
  }

  &::-webkit-slider-runnable-track {
    background: var(--color-shadow);
    border: none;
    border-radius: .3rem;
    height: .5rem;
  }

  &::-webkit-slider-thumb {
    background: var(--color-primary);
    border: none;
    border-radius: 50%;
    -webkit-appearance: none;
    height: 1.6rem;
    width: 1.6rem;
    margin-top: -.4rem;
  }

  &::-moz-range-track {
    background: var(--color-shadow);
    height: .5rem;
    border: none;
    border-radius: .3rem;
  }

  &::-moz-range-thumb {
    background: var(--color-primary);
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }

  &:-moz-focusring {
    outline: .1rem solid var(--color-white);
    outline-offset: -.1rem;
  }

  &::-ms-fill-lower {
    background: var(--color-shadow);
    border-radius: 1rem;
  }

  &::-ms-fill-upper {
    background: var(--color-shadow);
    border-radius: 1rem;
  }

  &::-ms-thumb {
    background: var(--color-shadow);
    border: none;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
  }
}
