.icon {
  vertical-align: middle;

  &::before {
    font-family: var(--font-icon);
    margin-right: 2rem;
    font-size: 1.7rem;
  }

  &.read::before {
    content: var(--icon-book);
  }

  &.become-user::before {
    content: var(--icon-signin);
  }

  &.account::before {
    content: var(--icon-login);
  }

  &.github::before {
    content: var(--icon-github);
  }

  &.email::before {
    content: var(--icon-email);
  }

  &.time::before {
    content: var(--icon-calendar);
  }

  &.time-reading::before {
    content: var(--icon-clock);
  }

  &.read-more::before {
    content: var(--icon-get-article);
  }

  &.arrow-down::before {
    content: var(--icon-arrow-down);
  }

  &.twitter::before {
    content: var(--icon-twitter);
  }

  &.facebook::before {
    content: var(--icon-facebook);
  }

  &.instagram::before {
    content: var(--icon-instagram);
  }

  &.setting::before {
    content: var(--icon-setting);
  }

  &.trip::before {
    content: var(--icon-trip);
  }
}
