a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color .3s;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    color: inherit;
    color: var(--color-primary);
  }
}
