ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profiles li {
  margin: 2rem auto;
  width: 20rem;
}

.profiles figcaption {
  margin-top: .75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.presentation li::before {
  width: 2rem;
  font-size: 1.1rem;
  margin-right: 1rem;
  color: var(--primary-color);
  text-align: right;
}

.presentation ul li::before {
  content: var(--circle);
}

.presentation ol {
  counter-reset: counter;
}

.presentation ol li::before {
  counter-increment: counter;
  content: counter(counter);
  font-size: 1.7rem;
}
