ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  &.with-icon {
    li  {
      &::before {
        content: '\25CF';
        font-size: 1rem;
      }
    }
  }
}

ol {
  &.with-index {
    counter-reset: counter;

    li::before {
      counter-increment: counter;
      content: counter(counter);
      font-size: 1.7rem;
    }
  }
}

li {
  &::before {
    font-size: 1.1rem;
    margin-right: 1rem;
    color: var(--primary-color);
  }

  &.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    &::before {
      font-size: 3.5rem;
      margin: 0 0 -1rem 0;
    }
  }
}

.profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & li {
    margin: 2rem auto;
    width: 20rem;
  }

  & figcaption {
    margin-top: .75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & img {
    height: 10rem;
    width: 10rem;
  }
}
