.wheel {
  animation: mouse-wheel .6s linear infinite;
}

.scroll-invitation {
  display: block;
  height: 10rem;
  margin: 0 auto;
  width: 2.5rem;
}

.arrow {
  border-right: .2rem solid white;
  border-bottom: .2rem solid white;
  display: block;
  height: 1.6rem;
  margin: 0 0 .3rem .4rem;
  transform: rotate(45deg);
  width: 1.6rem;

  &.first,
  &.second,
  &.third {
    animation: mouse-scroll 1s infinite;
  }

  &.first {
    animation-direction: alternate;
    animation-delay: alternate;
    margin-top: .1rem;
  }

  &.second {
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -.6rem;
  }

  &.third {
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -.6rem;
  }
}

.mouse {
  border: .2rem solid white;
  border-radius: 1.4rem;
  height: 4.2rem;
  top: 17rem;
  transform: none;
  width: 2.4rem;

  .wheel {
    background: white;
    border: .2rem solid #fff;
    border-radius: .8rem;
    display: block;
    height: .4rem;
    margin: .5rem auto;
    position: relative;
    width: .4rem;
  }
}
